@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

root {
  --color: #4169e1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins";
}

body {
  background-color: #171e24;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  background: #1c2a35;
  overflow-x: hidden;
  padding-top: 0 0px;
  font-family: "Poppins", "sans-serif";
  margin: 0 90px;
}
.profile-header {
  background: #1c2a35;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}
.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  line-height: 1.5em;
}

.profile-nav-info span {
  font-size: 0.6em;
  padding-bottom: 10px;
  color: gray;
}
.profile-nav-info h3 {
  font-variant: none;
  font-size: 2rem;
  font-family: "Poppins";
  font-weight: bold;
}
.profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #777;
  margin-top: 10px;
}
.profile-nav-info .address p {
  margin-right: 5px;
  margin-top: 0px;
}

.profile-nav-info .country {
  padding-bottom: 5px;
}
.profile-option {
  width: 40px;
  height: 40px;
  background: var(--color);
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
}
.profile-option .notification i {
  color: #ffff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}
.profile-option:hover {
  background: gray;
  border: 1px solid var(--color);
}
.profile-option:hover .notification i {
  color: var(--color);
}
.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: 5px;
  background: #fff;
  color: var(--color);
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}
.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}
.profile-side {
  width: 300px;
  background: #1c2a35;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 90px 30px 20px;
  font-family: "Bree Seriff", serif;
  margin-left: 10px;
  z-index: 99;
}
.profile-side p {
  margin-bottom: 7px;
  color: white;
  font-size: 14px;
}
.profile-side p i {
  color: var(--color);
  margin-right: 10px;
}
.mobile-no i {
  transform: rotateY(180deg);
}
.profile-btn {
  display: flex;
}
button.chatbtn,
button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: var(--color);
  font-family: "Bree Seriff", sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
button.chatbtn:hover,
button.createbtn:hover {
  background: cyan;
}
button.chatbtn i,
button.createbtn i {
  margin-right: 5px;
}
.user-rating {
  display: flex;
}
.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #696969;
}
.user-rating .no-user {
  font-size: 0.9rem;
}
.rate {
  padding-top: 6px;
}
.rate i {
  font-size: 0.9rem;
  color: var(--color);
}
.nav {
  width: 100%;
  z-index: -1;
}
.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.nav ul li.active,
.nav ul li:hover {
  box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9);
  inset: none;
}
.profile-body {
  width: 100%;
  z-index: -1;
  align-items: center;
}

.profile-body h1,
.profile-body p {
  padding: 10px 20px;
  left: 50%;
  display: flex;
  flex-direction: column;
}

.profile-body h1 {
  margin-left: 22vw;
  padding-top: 20px;
  color: white;
}
.tab {
  padding: 20px;
  width: 100%;
  text-align: center;
  display: none;
}

/* header */
.shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 2px 2px rgba(0, 0, 0, 0.23);
}

.header-left .logo {
  object-fit: contain;
  color: whitesmoke;
  cursor: pointer;
  /*change this later*/
  margin-right: 10px;
}

.logo {
  margin-top: 7px;
  font-family: "Poppins";
  color: whitesmoke;
}
.header {
  width: 100vw;
  color: whitesmoke;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  justify-content: space-evenly;
  border-bottom: 0.1px solid none;
  padding: 10px;
  margin-right: 0;
  background-color: #1c2a35;
}

.header-left {
  display: flex;
  color: whitesmoke;
}

.headerOptions {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 0px;
  cursor: pointer;
  color: gray;
}
.hoption {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}

.hoption .icon {
  margin-left: 0;
  cursor: pointer;
  align-self: center;
}

.hoption:hover {
  color: whitesmoke;
}

.hoption h3 {
  font-size: 15px;
}

.header-right {
  display: flex;
}
.logo-text {
  padding: 0px;
  color: whitesmoke;
}

.logo-text span {
  color: rgb(7, 255, 172);
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  margin: 0 20px;
  background: #171e24;
}

.header__search input {
  outline: none;
  border: none;
  background: none;
  color: whitesmoke;
  width: 25vw;
}

.text::placeholder {
  font-size: 1em;
  padding-top: 50px;
}

.text {
  font-size: 1em;
  padding-left: 10px;
}

.user-bio {
  padding-top: 15px;
  margin-bottom: 15px;
}
